<h1>Store</h1>

<ul class="nav nav-pills">
	<li><%= link_to "Toutes les catégories", root_url %></li>
	<% Category.all.each do |category| %>
	<li>
		<%= link_to category.name, root_url(:q => {:category_id_eq => category.id}) %>
	</li>
	<% end %>
</ul>


<% @products.each do |product| %>
  <div class="product">
    <%= image_tag "/system/product_images/" + product.image_url, :height => '245' %>
    <h2><%= product.title %></h2>
    <div>
      <span class="price"><%= number_to_currency(product.price) %></span>
      <%= link_to 'Show', product %>
      <%= button_to 'Add to cart', line_items_path(:product_id => product.id), :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
